<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Mobile Clone</title>
</head>
<body>
    <a href="./mobile-header.html"></a>
    <ul>
        <li>Made for you</li>
            <ul>
                <li>hip hop mix</li>
                <li>Discovery Weekly</li>
                <li> Upbeat Mix</li>
                <li>Pop Mix</li>
                <li>Moody Mix</li>
                <li>K-Pop</li>
            </ul>
            
<!-- ---------------------------------------------------------------------------------------------------- -->

        <li>Trending now</li>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

<!-- ---------------------------------------------------------------------------------------------------- -->

        <li>Daily dose</li>
            <ul>
                <li>daily mix 01</li>
                <li>daily mix 02</li>
                <li>daily mix 03</li>
                <li>daily mix 04</li>
                <li>daily mix 05</li>
                <li>daily mix 06</li>
            </ul>

<!-- ---------------------------------------------------------------------------------------------------- -->

        <li>Recommended Podcasts for You</li>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    </ul>
    <a href="./mobile-footer.html"></a>
</body>
</html>